html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 30px;
    padding-top: 50px;
    font-family: 'Lato', sans-serif;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30px;
    background-color: #f6f6f6;
}

.container-fluid {
    padding: 60px 50px;
}

.jumbotron {
    background-color: #1dadd1;
    color: #ffffff;
    padding: 100px 25px;
    /*height: 100vh;*/
}

.bg-grey {
    background-color: #f6f6f6;
}

.logo {
    color: #1dadd1;
    font-size: 200px;
}

.logo-small {
    color: #1dadd1;
    font-size: 50px;
}

.logo-medium {
    color: #1dadd1;
    font-size: 100px;
}

@media screen and (max-width: 768px) {
    .col-sm-4 {
        text-align: center;
        margin: 25px 0;
    }
}

.thumbnail {
    padding: 0 0 15px 0;
    border: none;
    border-radius: 0;
}

.thumbnail img {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
}

.thumbnail span {
    width: 100%;
    height: 100%;
    margin-top: 20px;
    margin-bottom: 10px;
}

.navbar {
    margin-bottom: 0;
    background-color: #1dadd1;
    z-index: 9999;
    border: 0;
    font-size: 14px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 2px;
    border-radius: 0;
}

.navbar li a, .navbar .navbar-brand {
    color: #fff !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #1dadd1 !important;
    background-color: #fff !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}

h2 {
    font-size: 24px;
    text-transform: uppercase;
    color: #303030;
    font-weight: 600;
    margin-bottom: 30px;
}

h4 {
    font-size: 19px;
    line-height: 1.375em;
    color: #303030;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 10px;
}

footer .glyphicon {
    font-size: 30px;
    margin-bottom: 20px;
    color: #1dadd1;
}

.panel-heading {
    background-color: #1dadd1 !important;
    color: #fff !important;
    font-size: 14px !important;
    text-transform: uppercase;
    line-height: 1.42857143 !important;
    letter-spacing: 2px;
}

.btn:hover, .navbar-nav li.active a {
    color: #1dadd1 !important;
    background-color: #fff !important;
}

.nav-pills li a:hover, .nav-pils li.active a {
    color: #1dadd1 !important;
    background-color: #fff !important;
}

.badge {
    color: #1dadd1;
    font-size: 40px;
}