html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 30px;
    padding-top: 50px;
    font-family: 'Lato', sans-serif;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30px;
    background-color: #f6f6f6;
}

.container-fluid {
    padding: 60px 50px;
}

.jumbotron {
    background-color: #004466;
    color: #ffffff;
    padding: 100px 25px;
    /*height: 100vh;*/
}

.bg-grey {
    background-color: #f6f6f6;
}

.logo {
    color: #004466;
    font-size: 200px;
}

.logo-small {
    color: #004466;
    font-size: 50px;
}

.logo-medium {
    color: #004466;
    font-size: 100px;
}

@media screen and (max-width: 768px) {
    .col-sm-4 {
        text-align: center;
        margin: 25px 0;
    }
}

.thumbnail {
    padding: 0 0 15px 0;
    border: none;
    border-radius: 0;
}

.thumbnail img {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
}

.thumbnail span {
    width: 100%;
    height: 100%;
    margin-top: 20px;
    margin-bottom: 10px;
}

.navbar {
    margin-bottom: 0;
    background-color: #004466;
    z-index: 9999;
    border: 0;
    font-size: 14px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 2px;
    border-radius: 0;
}

.navbar li a, .navbar .navbar-brand {
    color: #fff !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #004466 !important;
    background-color: #fff !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}

.navbar-fixed-left {
    width: 240px;
    position: fixed;
}

h2 {
    font-size: 24px;
    text-transform: uppercase;
    color: #303030;
    font-weight: 600;
    margin-bottom: 30px;
}

h4 {
    font-size: 19px;
    line-height: 1.375em;
    color: #303030;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 10px;
}

footer .glyphicon {
    font-size: 30px;
    margin-bottom: 20px;
    color: #004466;
}

.panel-heading {
    background-color: #004466 !important;
    color: #fff !important;
    font-size: 14px !important;
    text-transform: uppercase;
    line-height: 1.42857143 !important;
    letter-spacing: 2px;
}

.btn:hover, .navbar-nav li.active a {
    color: #004466 !important;
    background-color: #fff !important;
}

.nav-pills li a:hover, .nav-pils li.active a {
    color: #004466 !important;
    background-color: #fff !important;
}

.badge {
    background-color: #004466;
    font-size: 40px;
}

/*google custom button*/

#customBtn {
    display: inline-block;
    background: white;
    color: #004466;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-top: 12px;
    letter-spacing: 1px;
}
#customBtn:hover {
    cursor: pointer;
    background: #004466;
    color: white;
}
span.label {
    font-family: serif;
    font-weight: normal;
}
span.icon {
    background: url('../images/g-normal.png') transparent 50% no-repeat;
    display: inline-block;
    vertical-align: middle;
    width: 24px;
    height: 24px;
}
span.buttonText {
    display: inline-block;
    vertical-align: middle;
    font-size: 13px;
    margin-left: 3px;
    margin-right: 3px;
}

#customNavPanel {
    color: white;
    margin-right: 50px;
    margin-top: 10px;
}